@import "tailwindcss";
@layer utilities {
 .no-scrollbar::-webkit-scrollbar {
  display: none;
 }
 .no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
 }
}

:root {
  --my-white: #fafafa;
  --my-black: #171717;
  --my-white-hover: #727272;
  --my-black-hover: #393939;
  --my-white-active: #b6b6b6;
  --my-black-active: #282828;

  --highlight: oklch(63.7% 0.237 25.331);
  --highlight-hover: oklch(70.4% 0.191 22.216);
  --highlight-active: oklch(57.7% 0.245 27.325);
}

.theme-light {
  --background: var(--my-white);
  --foreground: var(--my-black);

  --background-1: var(--my-white-active);
  --background-2: var(--my-white-hover);
  
  --container: #d5d5d5;
}

@theme inline {
  --color-my-white: var(--my-white);
  --color-my-black: var(--my-black);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-container: var(--container);
  --color-highlight: var(--highlight);
  --color-highlight-hover: var(--highlight-hover);
  --color-highlight-active: var(--highlight-active);

  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);

  --font-outfit: var(--font-outfit);
  --breakpoint-xs: 540px;
  --animate-slide: slide 1s infinite;
  --animate-highlight: highlight 1.75s infinite;
}

.theme-dark {
  --background: var(--my-black);
  --foreground: var(--my-white);

  --background-1: var(--my-black-active);
  --background-2: var(--my-black-hover);
  
  --container: #777;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}

input {
  padding: 0 4px;
}

footer a:hover {
  color: var(--highlight-hover)
}

@keyframes slide {
  0%, 100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes highlight {
  50% {
    opacity: 1;
  }
}