@import "tailwindcss";
@layer utilities {
 .no-scrollbar::-webkit-scrollbar {
  display: none;
 }
 .no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
 }

::-webkit-scrollbar {
    width: 14px;
  }

::-webkit-scrollbar-track {
    background: var(--background-1);
  }

::-webkit-scrollbar-thumb {
    background: var(--background-2);
    border: 2px solid var(--background-1);
  }

::-webkit-scrollbar-thumb:hover {
    background: #5b5b5b;
  }

  .builder-scrollbar::-webkit-scrollbar {
    width: 14px;
  }

  .builder-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .builder-scrollbar::-webkit-scrollbar-thumb {
    background: var(--background-2);
    border: 3px solid var(--background);
    border-radius: 500px;
  }

  .builder-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #5b5b5b;
  }

  .stats-scrollbar::-webkit-scrollbar {
    width: 14px;
  }

  .stats-scrollbar::-webkit-scrollbar-track {
    background: var(--background-1);
  }

  .stats-scrollbar::-webkit-scrollbar-thumb {
    background: var(--background-2);
    border: 3px solid var(--background-1);
    border-radius: 500px;
  }

  .stats-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #5b5b5b;
  }

  .search-scrollbar::-webkit-scrollbar {
    width: 14px;
  }

  .search-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .search-scrollbar::-webkit-scrollbar-thumb {
    background: var(--background-2);
    border: 3px solid var(--background-1);
    border-radius: 500px;
  }

  .search-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #5b5b5b;
  }
}

:root {
  --my-white: #fafafa;
  --my-black: #0b0b0b;

  --highlight: #3b82f6;
  --highlight-hover: #60a5fa;
  --highlight-active: #2563eb;
}

.theme-light {
  --background: #fafafa;
  --foreground: var(--my-black);

  --background-1: #e2e2e2;
  --background-2: #c8c8c8;
  
  --container: #f0f0f0;
}

@theme inline {
  --color-my-white: var(--my-white);
  --color-my-black: var(--my-black);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-container: var(--container);
  --color-highlight: var(--highlight);
  --color-highlight-hover: var(--highlight-hover);
  --color-highlight-active: var(--highlight-active);

  --color-background-1: var(--background-1);
  --color-background-1-blur: var(--background-1-blur);
  --color-background-2: var(--background-2);

  --font-outfit: var(--font-outfit);
  --animate-slide: slide 1s infinite;
  --animate-highlight: highlight 1.75s infinite;
}

.theme-dark {
  --background: #0a0a0a;
  --foreground: var(--my-white);

  --background-1: #252525;
  --background-2: #404040;
  
  --container: #050101;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}

input {
  outline: none;
  padding: 0 4px;
}

footer a:hover {
  color: var(--highlight)
}

.recharts-wrapper {
  align-self: center;
}

.recharts-wrapper * {
  outline: none;
}

@keyframes slide {
  0%, 100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes highlight {
  50% {
    opacity: 1;
  }
}